@model Akic.Core.Domain.Commom.Video
@using Akic.Core.ResultHelper
<html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>zFanVideo | Free Video Html5 Templates</title>
    <meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
    <meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/DPlayer/css/DPlayer.min.css">
    <script src="~/Content/DPlayer/js/jquery.min.js"></script>
    <link href="~/Content/NewsWebSite/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/VideoWebSite/css/zerogrid.css">
    <link rel="stylesheet" href="~/Content/VideoWebSite/css/style.css">
    <link rel="stylesheet" href="~/Content/VideoWebSite/css/menu.css">
    <!-- Owl Carousel Assets -->
    <link href="~/Content/VideoWebSite/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/VideoWebSite/css/owl.theme.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/VideoWebSite/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/autosize.js"></script>
    <script>
        $(function () {
            autosize($('textarea'));
        })
    </script>


</head>
<body id="wrapper">
    <div class="wrap-body">

        <!--////////////////////////////////////Header-->
        <header>
            <div class="wrap-header">
                <div class="zerogrid">
                    <div class="row">
                        <a href="/Video/Index" class="logo"><img src="/Content/VideoWebSite/images/logo.png" /></a>
                        <ul class="quick-link">
                            <li><a href="#" title="Upload Video"><i class="fa fa-upload"></i></a></li>
                            <li><a href="#" title="Log in"><i class="fa fa-user"></i></a></li>
                            <li><a href="#" title="Warning"><i class="fa fa-bell"></i></a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </header>
        <!--////////////////////////////////////Menu-->
        
        <!--////////////////////////////////////Container-->
        <section id="container" class="index-page">
            <div class="wrap-container zerogrid">
                <div class="row">
                  

                    <div id="main-content" class="col-2-3" style=" border-style:solid; border-width:1px; border-color:#b6b4b4;">

                        <h1 class="vid-name">@Model.VideoName</h1>
                        <div class="info" style="margin-left:40px;">
                            <h5>By <a href="#">@Model.UpId</a></h5>
                            <span><i class="fa fa-calendar"></i>@ResultHelper.ChangeDateFormat((DateTime)Model.AddedDate)</span>
                            <span><i class="fa fa-heart"></i>1,200</span>
                        </div>

                        <div id="player1"></div>
                        <script src="~/Content/DPlayer/js/DPlayer.min.js"></script>
                        <script>

                            var dp = new DPlayer({
                                element: document.getElementById('player1'),
                                video: {
                                    url: '@Model.VideoPath',
                                    pic: '@Model.ThumbPath'
                                },

                            });


                        </script>
                        <div class="row">
                            <div class="share">
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="box-share">
                                            <a href="#">
                                                <i class="fa fa-comments"></i>
                                                <span>Comments</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="box-share">
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                                <span>Twitter </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="box-share">
                                            <a href="#">
                                                <i class="fa fa-thumbs-up"></i>
                                                <span>110</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4">
                                    <div class="wrap-col">
                                        <div class="box-share">
                                            <a href="#">
                                                <i class="fa fa-plus"></i>
                                                <span>Add</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tags">
                            <a href="#">Animal</a>
                            <a href="#">Aenean</a>
                            <a href="#">Feugiat</a>
                            <a href="#">Risus</a>
                            <a href="#">Magna</a>
                        </div>
                        <section class="vid-related">
                            <div class="header">
                                <h2>Related</h2>
                            </div>
                            <div class="row">
                                <!--Start Box-->
                                <div id="owl-demo-1" class="owl-carousel">
                                    <div class="item wrap-vid">
                                        <div class="zoom-container">
                                            <a href="single.html">
                                                <span class="zoom-caption">
                                                    <i class="icon-play fa fa-play"></i>
                                                </span>
                                                <img src="/Content/VideoWebSite/images/1.jpg" />
                                            </a>
                                        </div>
                                        <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                        <div class="info">
                                            <h5>By <a href="#">Kelvin</a></h5>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                    <div class="item wrap-vid">
                                        <div class="zoom-container">
                                            <a href="single.html">
                                                <span class="zoom-caption">
                                                    <i class="icon-play fa fa-play"></i>
                                                </span>
                                                <img src="/Content/VideoWebSite/images/2.jpg" />
                                            </a>
                                        </div>
                                        <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                        <div class="info">
                                            <h5>By <a href="#">Kelvin</a></h5>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                    <div class="item wrap-vid">
                                        <div class="zoom-container">
                                            <a href="single.html">
                                                <span class="zoom-caption">
                                                    <i class="icon-play fa fa-play"></i>
                                                </span>
                                                <img src="/Content/VideoWebSite/images/3.jpg" />
                                            </a>
                                        </div>
                                        <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                        <div class="info">
                                            <h5>By <a href="#">Kelvin</a></h5>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                    <div class="item wrap-vid">
                                        <div class="zoom-container">
                                            <a href="single.html">
                                                <span class="zoom-caption">
                                                    <i class="icon-play fa fa-play"></i>
                                                </span>
                                                <img src="/Content/VideoWebSite/images/4.jpg" />
                                            </a>
                                        </div>
                                        <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                        <div class="info">
                                            <h5>By <a href="#">Kelvin</a></h5>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                    <div class="item wrap-vid">
                                        <div class="zoom-container">
                                            <a href="single.html">
                                                <span class="zoom-caption">
                                                    <i class="icon-play fa fa-play"></i>
                                                </span>
                                                <img src="/Content/VideoWebSite/images/5.jpg" />
                                            </a>
                                        </div>
                                        <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                        <div class="info">
                                            <h5>By <a href="#">Kelvin</a></h5>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                    <div class="item wrap-vid">
                                        <div class="zoom-container">
                                            <a href="single.html">
                                                <span class="zoom-caption">
                                                    <i class="icon-play fa fa-play"></i>
                                                </span>
                                                <img src="/Content/VideoWebSite/images/14.jpg" />
                                            </a>
                                        </div>
                                        <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                        <div class="info">
                                            <h5>By <a href="#">Kelvin</a></h5>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                    <div class="item wrap-vid">
                                        <div class="zoom-container">
                                            <a href="single.html">
                                                <span class="zoom-caption">
                                                    <i class="icon-play fa fa-play"></i>
                                                </span>
                                                <img src="/Content/VideoWebSite/images/3.jpg" />
                                            </a>
                                        </div>
                                        <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                        <div class="info">
                                            <h5>By <a href="#">Kelvin</a></h5>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                    <div class="item wrap-vid">
                                        <div class="zoom-container">
                                            <a href="single.html">
                                                <span class="zoom-caption">
                                                    <i class="icon-play fa fa-play"></i>
                                                </span>
                                                <img src="/Content/VideoWebSite/images/5.jpg" />
                                            </a>
                                        </div>
                                        <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                        <div class="info">
                                            <h5>By <a href="#">Kelvin</a></h5>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="row">
                            <div class="coment-form">
                                <h4>Leave your comment</h4>
                                <form>
                                    <textarea id="formContent" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">Your Comment...</textarea>
                                    <input type="button" id="summitComment" value="Submit Comment">
                                </form>
                            </div>
                            <div class="response">
                                <h4>Responses</h4>
                                <div id="responseList">

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    @Html.Partial("_VideorighterPage")
                </div>
            </div>

        </section>

        <!--////////////////////////////////////Footer-->
        <footer>
          
        </footer>

        <!-- Slider -->
        <script src="~/Content/VideoWebSite/js/demo.js"></script>
        <!-- Search -->
        <script src="~/Content/VideoWebSite/js/classie.js"></script>
        <script>
        </script>
        <!-- Carousel -->
        <script src="~/Content/VideoWebSite/js/owl.carousel.js"></script>

        <script>
    $(document).ready(function() {

      $("#owl-demo-1").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true
      });
	  $("#owl-demo-2").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true
      });

    });
        </script>
    </div>
</body>
</html>